#dokuwiki__header {
    margin-top: -1em;
}

#dokuwiki__aside {
    line-height: 1.5;
}

#dokuwiki__usertools {
    position: inherit;
    padding-bottom: 3px;
}

@media screen and (max-width: 960px) {
    #dokuwiki__usertools {
        position: absolute;
        padding-bottom: 0;
    }

    #dokuwiki__header {
        margin-top: 0;
    }
}

@media screen and (max-width: 1600px) {
    html, body {
        overflow-x: hidden;
    }
}

#dw__toc {
    border-bottom: none;
    margin-top: -2.556em;
}

#dokuwiki__header {
    padding-bottom: 1em;
}

#dw__toc > div {
    background: var(--background,#fff);
    border: 1px solid var(--border,#ccc);
    z-index: 99;
}

.dokuwiki .wrap_box {
    background: var(--background,#fff);
    border: 1px solid var(--border,#ccc);
    color: var(--text,#333);
}

hr {
    border-bottom: none;
}

.dokuwiki div.page {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(102 102 102 / 30%);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,0.30);
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
    margin-top: 1.444em;
}

@media only screen and (max-width: 800px) {
    #dw__toc {
        border-bottom: 1px solid var(--border,#ccc);
        margin-top: -1.556em;
        padding: 0.444em
    }
}

.dokuwiki h3.toggle {
    margin-top: 1.5em;
}

pre {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25);
}

code {
    font-size: 100%;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 0.5px 4px;
}
