/* conf/userstyle.css */

/*
 * Remove link icons.
 * https://forum.dokuwiki.org/d/15857-how-to-remove-link-icons-solved
 */
a {
    background-image: none !important;
    padding: 0px !important;
}

#dokuwiki__site {
    margin: 0 auto;
    max-width: 115em !important;
}

#dokuwiki__header .headings {
    margin-bottom: auto;
}

#dokuwiki__header {
    margin-bottom: -1em;
}

.dokuwiki .pageId {
    display: none;
}

#dw__toc {
    display: none;
}

#dw__toc > div {
    position: absolute;
    background: white;
    /*background: whitesmoke;*/
}

div.page h1, h2 {
    border-bottom: 1px solid #a2a9b1;
    padding-bottom: 2px;
}

div.wrap_box {
    font-size: 90%;
}

div.wrap_box_location table, div.wrap_box_location tr, div.wrap_box_location td {
    border: none;
}

div.wrap_box_location th, div.wrap_box_location td {
    padding: .0em .5em !important;
}

textarea#wiki__text {
    min-height: 500px;
    max-width: 100%;
}

div#dokuwiki__footer div.buttons {
    display: none;
}

img {
    border: none !important;
}

td img {
    padding: 0 !important;
}
